@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Detalhes da Função | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <div class="titulo"><h3>DETALHES DA FUNÇÃO</h3></div>
    <div class="titulo"><h5>@Html.ActionLink("- Voltar à lista -", "Index")</h5></div>
    <hr />

    <div class="container painel2">
        <div class="col-lg-6 dadosEsq">Função</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.Name)</div>

        <div class="col-lg-6 dadosEsq">Utilizadores</div>
        <div class="col-lg-6 dadosDir">
            @if (ViewBag.UserCount == 0) {
                <span>Esta função não possui utilizadores.</span>
            }
            @foreach (var item in ViewBag.Users) {
                <span>@item.UserName;</span>
            }
        </div>
    </div>
</body>
</html>
