<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Acesso Restrito! | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
    <style>
    </style>
    <script>
    </script>
</head>
<body>
    <div class="jumbotron painel">
        <h1>Acesso Restrito!</h1>
        <p>Só os funcionários do clube podem visualizar este conteúdo...</p>
    </div>
</body>
</html>