body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-center {
	margin: 0 auto;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #aa0000;
    font-weight: bold;
}

.validation-summary-valid {
    display: none;
}

/* ########## CSS ADICIONADO ########## */

#foto {
    margin-top: 25px;
}

#lista {
    overflow-x: auto;
    border-radius: 5px;
}

.titulo {
    text-align: center;
    color: #000000;
}

.painel {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 25px 0px 25px 0px;
    border-radius: 5px;
    text-align:center;
}

.painel2 {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 25px 0px 25px 0px;
    border-radius: 5px;
}

.imagem {
    border: 3px solid #000000;
    margin-top: 10px;
}

.colunas {
    text-align: center;
}

.tipo { 
    font-weight: bold;
} 

.entrada {
    display:block;
    margin: 0 auto;
}

.ligacoes {
    font-weight: normal;
}

.reg1 {
    margin-top: 10px;
}

.reg2 {
    display:block;
    margin: 10px auto;
}

.leg {
    height:300px;
}

.dadosDir {
    text-align:left;
    border-left:1px solid #000000;
}

.dadosEsq {
    text-align:right;
    font-weight:bold;
}

.dadosDirLink {
    margin-top:20px;
    text-align:left;
    border-left:1px solid #000000;
}

.dadosEsqLink {
    margin-top:20px;
    text-align:right;
    font-weight:bold;
}
