body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-center {
	margin: 0 auto;
}

/* styles for validation helpers */
.field-validation-error {
    color: #cb0f0f;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #cb0f0f;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #cb0f0f;
    font-weight: bold;
    text-align:center;
}

.validation-summary-valid {
    display: none;
}



/* #################################### */
/* ########## CSS ADICIONADO ########## */
/* #################################### */

/* ids */

#listaTopicos {
    text-align:left;
}

#inscr {
  color: #ff3700;
  font-weight: bold;
}

#rodape {
    color: #000000;
    font-size: 12px;
    text-align: center;
}

/* classes */

.painel {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 0px 25px 0px;
    border-radius: 15px;
    text-align: center;
}

.topicos {
    margin-left: 200px;
}

.figuras {
    margin-top: 25px;
}

.titulo {
    text-align: center;
}

.info { 
    font-weight: bold;
} 

.imagens {
    border: 3px solid #000000;
    margin-top: 10px;
}

.legendas {
    height:300px;
}

.btnBarra {
    font-weight: normal;
}

.margemTopo {
    margin-top: 10px;
}

.margemTopo2 {
    display:block;
    margin: 10px auto;
}

.msgSucesso {
    color:forestgreen;
    font-weight:bold;
}

.divBtnCentro {
    text-align:center;
    margin-top: 20px;
}

.interfPesq {
    text-align: center;
}

.pesq {
    display:inline;
    width: 200px;
}

.centrarTab {
    text-align:center;
}

.displayTab {
    display: inline-block;
}

.colCentro {
    text-align: center;
}

.colEsq {
    text-align: left;
}

.nota {
    text-align:center;
}

.painel2 {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 25px 0px 25px 0px;
    border-radius: 5px;
}

.dadosEsq {
    text-align:right;
    font-weight:bold;
}

.dadosDir {
    text-align:left;
    border-left:1px solid #000000;
}

.entrada {
    display:block;
    margin: 0 auto;
}
