@{
    ViewBag.Title = "About";
}
<hgroup style="text-align:center;">
    <h3>Tecnologias da Internet II - 2016/2017</h3>
    <h4>Aluno n.º 15233 - Rodrigo Daniel Nunes Carrão</h4>
</hgroup>
<div class="row-fluid" style="text-align:center;">
    <div class="">
        <br />
        <img class="img-circle" src="~/Content/Images/fotorc.jpg" />
        <br />
        <h4>Utilizadores</h4>
        <p>Role: Funcionario</p>
        <p>E-mail: dalves@cdcb.pt</p>
        <p>Palavra-chave: 123qwe#</p>
        <br />
        <p>Role: Socio</p>
        <p>E-mail: smodesto@gmail.com</p>
        <p>Palavra-chave: 123qwe#</p>
    </div>
</div>