@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clube Desportivo Coxos da Bola</h1>
    <p class="lead">Bem-vindo ao Portal dos Sócios do CDCB. Aqui pode consultar a sua conta corrente, verificar as referências multibanco para pagamento das quotas, consultar o estado de pagamento das quotas, aceder às suas faturas e recibos, atualizar os seus dados de sócio e requisitar novos cartões de associado.</p>
</div>
