@model IEnumerable<PortalSocios.Models.Categorias>

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title> Quotas | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <div class="titulo"><h3>QUOTAS</h3></div>
    <hr />
    <div class="container">
        <div class="row painel">
            @foreach (var item in Model) {
                if (item.CategoriaID < 4) {
                    <div class="col-lg-4 text-center legendas">
                        <img class="img-circle img-center imagens" src="~/Content/Imagens/quota@(item.CategoriaID).png" />
                        <h3>Sócio @Html.DisplayFor(modelItem => item.Nome)</h3>
                        <p>@Html.DisplayFor(modelItem => item.FaixaEtaria) anos</p>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>