@model IEnumerable<PortalSocios.Models.Beneficios>

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title> Vantagens | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <div class="titulo"><h3>VANTAGENS</h3></div>
    <hr />
    <div class="container">
        <div class="row painel">
            @foreach (var item in Model) {
                if (item.BeneficioID < 7) {
                    <div class="col-lg-4 text-center legendas">
                        <img class="img-circle img-center imagens" src="~/Content/Imagens/vantagem@(item.BeneficioID).png" />                      
                        <h4>@Html.DisplayFor(modelItem => item.Descricao)</h4>
                    </div>
                }
            }
        </div>
    </div>      
</body>
</html>
