@model IEnumerable<PortalSocios.Models.Beneficios>

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title> Vantagens | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
    <style>
        .imagem {
            border: 4px solid #ffffff;
        }
    </style>
    <script>
    </script>
</head>
<body>
    <h2>Vantagens</h2>
    <hr />
    <div class="container">
        <div class="row">
            @foreach (var item in Model) {
                if (item.BeneficioID < 7) {
                    <div class="col-lg-2 text-center">
                        <!--<img class="img-circle img-responsive img-center imagem" src="~/Content/Imagens/vantagem@(item.BeneficioID).jpg" />-->
                        <img class="img-circle img-responsive img-center imagem" src="http://placehold.it/200x200" />                        
                        <h4>@Html.DisplayFor(modelItem => item.Descricao)</h4>
                    </div>
                }
            }
        </div>
    </div>      
</body>
</html>
