@model PortalSocios.Models.ForgotPasswordViewModel

<div class="titulo"><h2>Esqueceste-te da tua palavra-passe?</h2></div>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="container painel">
        <div class="col-md-12 form-inline">

            @*Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })*@
            <!--<input type="submit" class="btn btn-primary" value="Enviar" />-->
        </div>
     </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
