@model PortalSocios.Models.ApplicationUser

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Detalhes do Utilizador | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
</head>
<body>
    <div class="titulo"><h3>DETALHES DO UTILIZADOR</h3></div>
    <div class="titulo"><h5>@Html.ActionLink("- Voltar à lista -", "Index")</h5></div>
    <hr />

    <div class="container painel2">
        <div class="col-lg-6 dadosEsq">Username</div>
        <div class="col-lg-6 dadosDir">@Html.DisplayFor(model => model.UserName)</div>

        <div class="col-lg-6 dadosEsq">Funções</div>
        <div class="col-lg-6 dadosDir">
            @if (ViewBag.RoleNames.Count == 0) {
                <span>Este utilizador não possui funções.</span>
            }
            @foreach (var item in ViewBag.RoleNames) {                
                <span>@item;</span> 
            }
        </div>
    </div>
</body>
</html>
