@model PortalSocios.Models.IndexViewModel

<div class="titulo"><h2>Definições de Conta</h2></div>
<hr />
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="container painel">
    <div class="row">
        <div class="col-md-12">
            <p>
                @if (Model.HasPassword) {
                    @Html.ActionLink("Alterar a palavra-passe", "ChangePassword")
                }
                else {
                    @Html.ActionLink("Pick a password", "SetPassword")
                }
            </p>
        </div>
    </div>
</div>
