@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle btnBarra" data-toggle="dropdown">Bem-vindo @User.Identity.GetUserName()!<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (User.IsInRole("Socio")) {
                        <li><a href="~/Socios/Index">Ver/Alterar dados pessoais</a></li>
                    }
                    <li><a href="~/Manage/ChangePassword">Alterar palavra-passe</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
                </ul>
            </li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Inscrever", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "btnBarra" })</li>
        <li>@Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class= "btnBarra" })</li>
    </ul>
}
