@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>Conta Bloqueada | Portal dos Sócios do Clube Desportivo Coxos da Bola</title>
    <style>
    </style>
    <script>
    </script>
</head>
<body>
    <div class="jumbotron painel">
        <h1>CONTA BLOQUEADA!</h1>
        <p>Esta conta foi bloqueada...Por favor, tente mais tarde.</p>
        <!-- ref: https://rutgersonline.desk.com/customer/en/portal/articles/2635151-canvas-course-roles-and-permissions -->
        <img id="foto" class="img-center" src="~/Content/Imagens/erro.png" />
    </div>
</body>
</html>
